BADARGMNT  'bad argument',
BADARGMNT8 'too many file descriptors',
BADARGMNTb 'a branch name must be a short name',
BADARGMNTE 'unrecognized extra arguments',
BADARGMNTi 'bad URL',
BADARGMNTL 'expect a Lamport UUID',
BADARGMNTl 'name is too long; limit: 10 Base64 chars',
BADARGMNTR 'RON variant not understood',
BADARGMNTr 'wrong/unrelated replica',
BADARGMNTs 'a form name must be a short name',
BADARGMNTt 'the buffer is too short',
BADARGMNTU 'argument not understood',
BADARGMNTu 'unknown command',
BADARGMNTV 'incorrect UUID version',
BADARGMNTx 'unrecognized extra arguments',
BADRONBOX '',
BADRONBOXJ 'the box must be joined to the previous one',
BADCOMAND '',
BADFORMAT '',
BADFORMAT1 'magic bytes don not match',
BADFORMATa 'wrong UUID type',
BADFORMATB 'branch id is up to 10 Base64 chars',
BADFORMATb 'UUID expected',
BADPAGE '',
BADPAGE_E 'a varint page must not be empty',
BADPAGE_S 'a varint must not span pages',
BADPATH '',
BADPATH_p 'the parent path is not in the repo',
BADPATH_x 'the path is already in the repo',
BADRECORD '',
BADRECORD1 'wrong size varint',
BADRECORDB 'box size is out of bounds',
BADRECORDC 'bad checkout log entry',
BADRECORDD 'invalid yarn declaration',
BADRECORDd 'box descriptor is out of range',
BADRECORDF 'incorrect filename format',
BADRECORDl 'missing log data',
BADRECORDL 'the limb is corrupted',
BADRECORDO 'op format does not match the pattern',
BADRECORDr 'a rough map value is shorter than expected',
BADRECORDR 'the rough map is corrupted',
BADRECORDS 'no spec in a RONv op',
BADRECORDT 'the index twig seems damaged',
BADRECORDU 'bad UTF-8',
BADRECORDv 'mismatching varint',
BADRECORDV 'the varint stream is corrupted',
BADREPLY '',
BADSIZE '',
BADSTATE '',
BADSTATE_C 'concurrent changes detected',
BADSTATE_c 'there are uncommitted changes',
BADSTATE_F 'unclosed frame',
BADSTATE_O 'already open',
BADSTATE_R 'failed to reach the root',
BADSTATE_T 'the branch is torn (the last recorded op is not local)',
BADSTATE_o 'operation is not supported',
BADSTATE_x 'invlid concurrent write',
BADSTATE_t 'the file is apparently touched',
BADSTATE_w 'not writable',
BADSYNTAX '',
BADSYNTAXE 'can not spread non-event ops',
BADSYNTAXF 'invalid float',
BADSYNTAXI 'invalid integer',
BADSYNTAXi 'malformed branch id',
BADSYNTAXR 'invalid RONt syntax',
BADSYNTAXS 'invalid RONt spread',
BADSYNTAXU 'invalid UUID syntax',
BADSYNTAXJ 'invalid JSON syntax',
BADTYPE '',
BADUIDELT '',
BADUNICODE '',
BADUUID '',
ISECLIPSED 'eclipsed by a concurrent value',
ENDOFRAME 'end of input',
ENDOFRAME1 'end of a FACT frame',
ENDOFRAME2 'end of a BLOB frame',
ENDOFRAME3 'end of a QUERY frame',
ENDOFRAMEE 'end of file or stream',
ENDOFRAMEB 'end of a blob',
ERRNO '',
FAILDB '',
FAILEXEC '',
FAILEXEC_r 'remote execution failed',
FAILINOUT '',
FAILINOUTC 'can not close a file?!',
FAILINOUTc 'can not create a file',
FAILINOUTD 'getcwd fails',
FAILINOUTl 'can not list a directory',
FAILINOUTO 'can not open a file',
FAILINOUTR 'read fails',
FAILINOUTS 'can not fsync',
FAILINOUTW 'write fails',
FAILLOCK '',
FAILMERGE '',
FAILMMAP '',
FAILMMAP_U 'can not unmap memory',
FAILNAVBLK '',
FAILNET '',
FAILNOOBJ '',
FAILNOOP '',
FAILNOYARN 'no such yarn',
FAILNOYID 'need a yarn id (non-zero)',
FAILOBJGAP '',
FAILOPEN '',
FAILOPEN_1 'can not open the file',
FAILOPEN_P 'fork() failed',
FAILOPFMT '',
FAILOPFMT1 'yarn object root must have RDT `yarn`',
FAILOPFMTE 'event id expected (YOLO)',
FAILOPFMTO 'zero yarn id is not allowed (except in @0-0-0)',
FAILOPFMTR 'root ref must be an RDT (short name)',
FAILOPFMTr 'yarn root is also an object root',
FAILREF '',
FAILREF_E 'home index 0 must be a root',
FAILREF_H 'reverse order of home indices',
FAILREF_R 'op\'s ref is not found',
FAILREPET '',
FAILREPET1 'the op was already seen',
FAILREPET2 'the yarn was already seen',
FAILRESIZE 'can not resize a file',
FAILROOT '',
FAILVALUES '',
FAILVARINT '',
FAILYRNGAP '',
FAILZIP '',
NEEDARG '',
NEQFLOAT '',
NEQFRAMLEN '',
NEQID '',
NEQINT '',
NEQREF '',
NEQSTRING '',
NEQUUID '',
NEQVALCNT '',
NEQVALTYPE '',
NOACCESS '',
NOACCESS_r 'the path is outside the repo',
NOCOMMIT '',
NODATA 'no more data available',
BADSEAL 'the sealing signature does not match the data',
OLDSEAL 'the old sealing signature matches',
NODIR '',
NOSPACE '',
NOTAVAILB '',
NOTFOUND '',
NOTFOUND0a 'no repo found',
NOTFOUND0b 'missing argument',
NOTFOUND0C 'no such checkout',
NOTFOUND0d 'not a directory',
NOTFOUND0F 'expected a FLOAT',
NOTFOUND0f 'file not found',
NOTFOUND0I 'expected an INT',
NOTFOUND0L 'limb not found',
NOTFOUND0P 'new path, no file created yet',
NOTFOUND0p 'path not found',
NOTFOUND0x 'peer not found',
NOTFOUND0R 'no such record',
NOTFOUND0S 'expected a STRING',
NOTFOUND0T 'not found in a trie',
NOTFOUND0U 'expected an UUID',
NOTIMPLTD '',
NOTIMPLTDf 'form unknown',
NOTIMPLTDp 'projection unknown',
NOTIMPLTDP 'protocol not implemented',
NOTOK_C 'the working copy has changes; stash or drop',
NOTOPEN '',
NOTOPEN_b 'no open branch',
NOTOPEN_R 'file not open for reading',
NOTOPEN_W 'file not open for writing',
NOTREADY '',
NOTSAVED '',
OUTOMEMRY '',
OUTORANGE  'out of range',
OUTORANGEB 'the position is greater than the branch size',
OUTORANGEL 'no such line',
OUTORANGEl 'the position is not in the log',
OUTORANGEO 'home index is not valid',
OUTORANGER 'root is reached, can not go further',
SQLITE '',
WARNSHORT '';
